<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            //목록 버튼
            $('#boardListBtn').click(function () {
                location.href = '/boards';
            });

            //수정 버튼
            $('#modifyBtn').click(function () {
                const boardId = $('#boardId').val();
                location.href = '/boards/modifyPage/' + boardId;
            });

            //삭제 버튼
            $('#deleteBtn').click(deleteBoard);

        });

        function deleteBoard() {
            if(!confirm("삭제하시겠습니까?")) {
                return false;
            }
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");
            const boardId = $('#boardId').val();

            $.ajax({
                url: '/boards/' + boardId,
                method: 'delete',
                data: boardId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'text',
                beforeSend: function (xhr) {
                    // CSRF 토큰을 요청 헤더에 추가
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (data) {
                    alert(data);
                    location.href = '/boards';
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 404) {
                        console.log(xhr.responseText);
                    } else {
                        console.error('오류 발생: ' + textStatus, errorThrown);
                    }
                }
            });
        }

    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="boardDiv">
            <h3 class="mb-3 mt-3">SSONG's BOARD</h3>
            <table id="table" class="table w-50">
                <tr>
                    <th scope="col">제목</th>
                    <td colspan="3" th:text="${board.title}"></td>
                </tr>
                <tr>
                    <th scope="col">작성자</th>
                    <td th:text="${board.member.memberName}"></td>
                    <th scope="col">작성일</th>
                    <td th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th scope="col">첨부파일</th>
                    <td colspan="2"><a th:href="'/boards/downloadFile?fileName=' + ${board.s3fileName}" th:text="${board.fileName}"></a></td>
                    <td><a th:if="${board.filePath != null}" th:href="${board.filePath}" class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill" style="text-decoration: none;">미리보기</a></td>
                </tr>
                <tr>
                    <th scope="col">내용</th>
                    <td colspan="3"><pre th:text="${board.content}"></pre></td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="boardId" th:value="${board.id}">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-success" id="boardListBtn">목록</button>
            <button type="button" class="btn btn-outline-success" th:if="${#httpServletRequest.remoteUser == board.member.memberEmail}" id="modifyBtn">수정</button>
            <button type="button" class="btn btn-outline-success" th:if="${#httpServletRequest.remoteUser == board.member.memberEmail}" id="deleteBtn">삭제</button>
        </div>
    </div>
</th:block>
</html>