<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            //게시글 저장 버튼
            $('#saveBtn').click(saveBoard);

            //파일명 변경
            $('#attachedFile').change(function() {
                let fileName = $(this).val().split('\\').pop();
                $('#fileNameDisplay').text(fileName);
            });

            //게시글 목록
            $("#boardListBtn").click(function (){
                location.href = '/boards';
            })

        });

        //게시글 저장
        function saveBoard() {
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");
            const formData = new FormData();
            const fileInput = $('#attachedFile')[0].files[0];
            const boardId = $('#boardId').val();
            let url = '/boards';
            let method = 'post';

            if (boardId) {
                formData.append('id', boardId);
                url = '/boards/' + boardId;
                method = 'patch';
            }
            if (fileInput) {
                formData.append('attachedFile', fileInput);
            }
            formData.append('s3fileName', $("#s3fileName").val());
            formData.append('memberId', $('#memberId').val());
            formData.append('boardTitle', $('#inputTitle').val());
            formData.append('boardContent', $('#inputContent').val());


            $.ajax({
                url: url,
                method: method,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                beforeSend: function (xhr) {
                    // CSRF 토큰을 요청 헤더에 추가
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (data) {
                    alert('저장되었습니다.');
                    location.href = '/boards/' + data;
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 404) {
                        console.log(xhr.responseText);
                    } else {
                        console.error('오류 발생: ' + textStatus, errorThrown);
                    }
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="boardDiv">
            <h3 class="mb-3 mt-3">게시글 작성</h3>
            <table id="table" class="table w-50">
                <tr>
                    <th scope="col">작성자</th>
                    <td th:text="${board != null ? board.member.memberName : member.memberName}"></td>
                </tr>
                <tr>
                    <th scope="col">제목</th>
                    <td><input type="text" id="inputTitle" name="title" class="w-100" th:value="${board != null ? board.title : ''}">
                    </td>
                </tr>
                <tr>
                    <th scope="col">첨부파일</th>
                    <td>
                        <label for="attachedFile" class="custom-file-input-label" style="background-color: #898989; color: #fff; font-size: 12px; padding: 5px; cursor: pointer;">파일 선택</label>
                        <input type="file" id="attachedFile" name="attachedFile" style="display: none;">
                        <span id="fileNameDisplay" th:text="${board != null ? board.fileName : ''}"></span>
                        <input type="hidden" id="s3fileName" name="s3fileName" th:value="${board != null ? board.s3fileName : ''}">
                    </td>
                </tr>
                <tr>
                    <th scope="col">내용</th>
                    <td><textarea id="inputContent" class="w-100" th:text="${board != null ? board.content : ''}"></textarea></td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="memberId" th:value="${board != null ? board.member.id : member.id}">
        <input type="hidden" id="boardId" th:value="${board != null ? board.id : ''}">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <input type="button" id="saveBtn" class="btn btn-outline-success" th:value="${board != null ? '수정' : '등록'}">
            <input type="button" id="boardListBtn" class="btn btn-outline-success" th:value="목록">
        </div>
    </div>
</th:block>
</html>