<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('#saveBtn').click(saveBoard);
        });

        function saveBoard() {
            const csrfToken = $("meta[name='_csrf']").attr("content");
            const csrfHeader = $("meta[name='_csrf_header']").attr("content");
            const formData = new FormData();
            const fileInput = $('#attachedFile')[0].files[0];
            const boardId = $('#boardId').val();
            let url = '/boards';
            let method = 'post';

            if (boardId) {
                formData.append('id', boardId);
                url = '/boards/' + boardId;
                method = 'patch';
            }
            if (fileInput) {
                formData.append('attachedFile', fileInput);
            }
            formData.append('memberId', $('#memberId').val());
            formData.append('boardTitle', $('#inputTitle').val());
            formData.append('boardContent', $('#inputContent').val());


            $.ajax({
                url: url,
                method: method,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                beforeSend: function (xhr) {
                    // CSRF 토큰을 요청 헤더에 추가
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (data) {
                    alert('저장되었습니다.');
                    location.href = '/boards/' + data;
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 404) {
                        console.log(xhr.responseText);
                    } else {
                        console.error('오류 발생: ' + textStatus, errorThrown);
                    }
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="boardDiv">
            <table id="table">
                <tr>
                    <td>작성자</td>
                    <td th:text="${board != null ? board.member.memberName : member.memberName}"></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="inputTitle" name="title" th:value="${board != null ? board.title : ''}">
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea id="inputContent" th:text="${board != null ? board.content : ''}"></textarea></td>
                </tr>
                <tr>
                    <td>첨부파일</td>
                    <td><input type="file" id="attachedFile" name="attachedFile"></td>
                </tr>
            </table>
        </div>
        <div>
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            <input type="hidden" id="memberId" th:value="${board != null ? board.member.id : member.id}">
            <input type="hidden" id="boardId" th:value="${board != null ? board.id : ''}">
            <input type="button" id="saveBtn" th:value="${board != null ? '수정' : '등록'}">
        </div>
    </div>
</th:block>
</html>