<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout">

<th:block layout:fragment="script">
    <script>
        $(document).ready(function(){
            //게시판 목록
            $("#boardListBtn").click(function (){
                location.href = '/boards';
            });

            //회원가입
            $("#signUpBtn").click(function (){
               location.href = '/members/signUp';
            });

            //로그인
            $("#loginBtn").click(function (){
                location.href = '/login';
            });

            //회원 목록
            $('#memberListBtn').click(function(){
               if($('#user').val() == 'ssong@naver.com'){
                   location.href = '/members/paging';
               }else{
                    alert('회원 목록에 대한 권한이 없습니다.');
               }
            });
        });
    </script>
</th:block>
<th:block layout:fragment="content">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">SSONG's BOARD</h1>
                <p class="col-lg-10 fs-4">springboot를 사용한 게시판 프로젝트입니다.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                    <span id="boardListBtn" style="cursor: pointer" class="mb-3 fs-6 badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">게시판 바로가기</span>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" th:if="${user != null}" class="btn btn-outline-success">Logout</button>
                            <button type="button" id="loginBtn" th:if="${user == null}" class="btn btn-outline-success">Login</button>
                            <button type="button" id="signUpBtn" th:if="${user == null}" class="btn btn-outline-success">Sign Up</button>
                            <button type="button" id="memberListBtn" class="btn btn-outline-success">회원 목록</button>
                        </form>
                    </div>
                    <input type="hidden" id="user" th:value="${user}">
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>